<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />


</head>
<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
	<div class="sliderRicette">
	    <h2>tutte le ricette </h2>
	    <div class="recipes-slider swiper">
	        <div class="swiper-wrapper">
	            <div class="swiper-slide" th:each="ricetta : ${tutte_ricette}" >
					<a th:href="@{/ricetta/{id}(id=${ricetta.id})}" class="card-link">
					    <div class="card">
					        <div class="swiper-container">
					            <div class="swiper-wrapper">
					                <div class="swiper-slide" th:each="picture : ${ricetta.ricettaPictures}">
					                    <img th:src="@{'/images/' + ${picture}}" alt="Immagine ricetta"/>
					                </div>
					            </div>
					            <div class="swiper-pagination"></div>
					        </div>
					        <div class="info">
					            <p th:text="${ricetta.nome}">Nome Ricetta</p>
					            <p>Cuoco: <span th:text="${ricetta.utente.name}">Nome Cuoco</span></p>
					        </div>
					    </div>
					</a>

	            </div>
	        </div>

	    </div>
	<div class="sliderRicette">
	    <h2>primo </h2>
	    <div class="recipes-slider swiper">
	        <div class="swiper-wrapper">
	            <div class="swiper-slide" th:each="ricetta : ${tutte_ricette}" th:if="${ricetta.categoria} == 'primo'">
					<a th:href="@{/ricetta/{id}(id=${ricetta.id})}" class="card-link">
					    <div class="card">
					        <div class="swiper-container">
					            <div class="swiper-wrapper">
					                <div class="swiper-slide" th:each="picture : ${ricetta.ricettaPictures}">
					                    <img th:src="@{'/images/' + ${picture}}" alt="Immagine ricetta"/>
					                </div>
					            </div>
					            <div class="swiper-pagination"></div>
					        </div>
					        <div class="info">
					            <p th:text="${ricetta.nome}">Nome Ricetta</p>
					            <p>Cuoco: <span th:text="${ricetta.utente.name}">Nome Cuoco</span></p>
					        </div>
					    </div>
					</a>

	            </div>
	        </div>

	    </div>
		<div class="sliderRicette">
		    <h2>secondi </h2>
		    <div class="recipes-slider swiper">
		        <div class="swiper-wrapper">
		            <div class="swiper-slide" th:each="ricetta : ${tutte_ricette}" th:if="${ricetta.categoria} == 'secondo'">
						<a th:href="@{/ricetta/{id}(id=${ricetta.id})}" class="card-link">
						    <div class="card">
						        <div class="swiper-container">
						            <div class="swiper-wrapper">
						                <div class="swiper-slide" th:each="picture : ${ricetta.ricettaPictures}">
						                    <img th:src="@{'/images/' + ${picture}}" alt="Immagine ricetta"/>
						                </div>
						            </div>
						            <div class="swiper-pagination"></div>
						        </div>
						        <div class="info">
						            <p th:text="${ricetta.nome}">Nome Ricetta</p>
						            <p>Cuoco: <span th:text="${ricetta.utente.name}">Nome Cuoco</span></p>
						        </div>
						    </div>
						</a>

		            </div>
		        </div>

		    </div>
			<div class="sliderRicette">
			    <h2>contorni </h2>
			    <div class="recipes-slider swiper">
			        <div class="swiper-wrapper">
			            <div class="swiper-slide" th:each="ricetta : ${tutte_ricette}" th:if="${ricetta.categoria} == 'contorno'">
							<a th:href="@{/ricetta/{id}(id=${ricetta.id})}" class="card-link">
							    <div class="card">
							        <div class="swiper-container">
							            <div class="swiper-wrapper">
							                <div class="swiper-slide" th:each="picture : ${ricetta.ricettaPictures}">
							                    <img th:src="@{'/images/' + ${picture}}" alt="Immagine ricetta"/>
							                </div>
							            </div>
							            <div class="swiper-pagination"></div>
							        </div>
							        <div class="info">
							            <p th:text="${ricetta.nome}">Nome Ricetta</p>
							            <p>Cuoco: <span th:text="${ricetta.utente.name}">Nome Cuoco</span></p>
							        </div>
							    </div>
							</a>

			            </div>
			        </div>

			    </div>
				
				<div class="sliderRicette">
				    <h2>dolci </h2>
				    <div class="recipes-slider swiper">
				        <div class="swiper-wrapper">
				            <div class="swiper-slide" th:each="ricetta : ${tutte_ricette}" th:if="${ricetta.categoria} == 'dolce'">
								<a th:href="@{/ricetta/{id}(id=${ricetta.id})}" class="card-link">
								    <div class="card">
								        <div class="swiper-container">
								            <div class="swiper-wrapper">
								                <div class="swiper-slide" th:each="picture : ${ricetta.ricettaPictures}">
								                    <img th:src="@{'/images/' + ${picture}}" alt="Immagine ricetta"/>
								                </div>
								            </div>
								            <div class="swiper-pagination"></div>
								        </div>
								        <div class="info">
								            <p th:text="${ricetta.nome}">Nome Ricetta</p>
								            <p>Cuoco: <span th:text="${ricetta.utente.name}">Nome Cuoco</span></p>
								        </div>
								    </div>
								</a>

				            </div>
				        </div>

				    </div>
					
	</div>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var recipesSwiper = new Swiper('.recipes-slider', {
                slidesPerView: 3,  // Mostra 3 ricette alla volta
                spaceBetween: 20,
                pagination: {
                    el: '.recipes-slider .swiper-pagination',
                    clickable: true,
                },
                navigation: {
                    nextEl: '.recipes-slider-button-next',
                    prevEl: '.recipes-slider-button-prev',
                },
                loop: true,
                autoplay: {
                    delay: 5000, // Cambia slide ogni 5 secondi
                    disableOnInteraction: false,
                },
            });
            
            var innerSwipers = document.querySelectorAll('.card .swiper-container');
            innerSwipers.forEach(function(swiperContainer) {
                new Swiper(swiperContainer, {
                    slidesPerView: 1,
                    spaceBetween: 10,
                    pagination: {
                        el: swiperContainer.querySelector('.swiper-pagination'),
                        clickable: true,
                    },
                    navigation: {
                        nextEl: swiperContainer.querySelector('.swiper-button-next'),
                        prevEl: swiperContainer.querySelector('.swiper-button-prev'),
                    },
                    loop: true,
                    autoplay: {
                        delay: 5000, // Cambia slide ogni 5 secondi
                        disableOnInteraction: false,
                    },
                });
            });
        });
    </script>
</body>
</html>